/* styles.css */
CheckBox .text {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
CheckBox .box {

    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:3px;

}

CheckBox:selected .mark {

    -fx-background-color: white;

}
CheckBox:selected .box {

    -fx-background-color: #28a3f4;
}

SplitPane {
    -fx-cornerRadius: 5px;
    -fx-divider-position: 0.5;

}
/* Left VBox for car details */
VBox {
    -fx-cornerRadius: 5px;
    -fx-padding: 10px;
}

Label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

HBox {
    -fx-cornerRadius: 5px;
    -fx-spacing: 20px;
    -fx-alignment: center;
}

TextField{
    -fx-pref-height: 25.0;
    -fx-pref-width: 200.0;
    -fx-background-color: #f5f5f5; /* Light gray background */
    -fx-border-color: #ccc; /* Light border color */
    -fx-border-radius: 10px; /* Rounded corners */
}
PasswordField{
    -fx-pref-height: 25.0;
    -fx-pref-width: 200.0;
    -fx-background-color: #f5f5f5; /* Light gray background */
    -fx-border-color: #ccc; /* Light border color */
    -fx-border-radius: 10px; /* Rounded corners */
}

Button {
    -fx-pref-height: 25.0;
    -fx-pref-width: 100.0;
    -fx-border-radius: 30px;
    -fx-border-width: 5px;
    -fx-border-insets: -5px;
    -fx-background-color: linear-gradient(to right, rgb(13, 11, 136) 9.4%, rgb(86, 255, 248) 78.4%);
    -fx-background-radius: 30px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

Button:hover {
    -fx-background-color: linear-gradient(to right, rgb(86, 255, 248) 9.4%, rgb(13, 11, 136) 78.4%);
    -fx-border-width: 5px;
    -fx-border-color: white;
}

ChoiceBox {
    -fx-pref-height: 25.0;
    -fx-pref-width: 100.0;
    -fx-background-color: #f5f5f5; /* Light gray background */
    -fx-border-color: #ccc; /* Light border color */
    -fx-border-radius: 10px; /* Rounded corners */
}


/* Right ScrollPane for features */
ScrollPane {
    -fx-padding: 10px;
}

VBox#checkboxContainer {
    -fx-spacing: 5px;
}
/* ScrollPane */
ScrollPane {
    -fx-background-color: #f9f9f9; /* Light gray background */
    -fx-border-color: #ccc; /* Light border color */
    -fx-border-width: 1px;
    -fx-border-radius: 5px; /* Rounded corners */
}

/* ScrollBar track and thumb */
ScrollPane .scroll-bar {
    -fx-background-color: transparent; /* Transparent scrollbar track */
}

ScrollPane .scroll-bar:vertical .thumb {
    -fx-background-color: #bbb; /* Scrollbar thumb color */
    -fx-background-insets: 3, 3, 2;
    -fx-background-radius: 4px;

}

/* Hover effect on scrollbar thumb */
ScrollPane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #999; /* Darker color on hover */
}
GridPane > * {
    -fx-border-color: #ccc; /* Light border color */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-padding: 5px;
}
.dashboard-label {
    -fx-font-size: 36px;
    -fx-text-fill: #ffffff;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}
.cars {
    -fx-background-color: #ff6f61;
}

.customers {
    -fx-background-color: #45ada8;
}

.orders {
    -fx-background-color: #fcbf49;
}

.title {
    -fx-font-size: 40px;
    -fx-text-fill: #000000;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}
.dashboard-background {
    -fx-background-color: #E9F1FA;
}
.sidemenu {
    -fx-background-color: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.sidemenu .label {
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}
.sidemenu .label:hover {
    -fx-background-color: #333333;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 15, 0, 0, 0);
}
.topmenu {
    -fx-background-color: linear-gradient(to bottom, #09203f 0%, #537895 100%);
}
.background {
    -fx-background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
